In [16]:
import pandas as pd
import numpy as np

In [17]:
calendar = pd.read_csv('calendar.csv')

In [18]:
calendar

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1964,2016-06-15,11620,Wednesday,5,6,2016,d_1965,NaN,NaN,NaN,NaN,0,1,1
1965,2016-06-16,11620,Thursday,6,6,2016,d_1966,NaN,NaN,NaN,NaN,0,0,0
1966,2016-06-17,11620,Friday,7,6,2016,d_1967,NaN,NaN,NaN,NaN,0,0,0
1967,2016-06-18,11621,Saturday,1,6,2016,d_1968,NaN,NaN,NaN,NaN,0,0,0
1968,2016-06-19,11621,Sunday,2,6,2016,d_1969,NBAFinalsEnd,Sporting,Father's day,Cultural,0,0,0

In [19]:
drop_features = ['wm_yr_wk', 'wday',
                     'month', 'year', 'd', 'snap_TX', 'snap_WI', 'event_name_1', 'event_name_2']

In [20]:
calendar = calendar.drop(drop_features, axis=1)
calendar = calendar.set_index('date')

In [21]:
calendar

              weekday event_type_1 event_type_2  snap_CA
date
2011-01-29   Saturday          NaN          NaN        0
2011-01-30     Sunday          NaN          NaN        0
2011-01-31     Monday          NaN          NaN        0
2011-02-01    Tuesday          NaN          NaN        1
2011-02-02  Wednesday          NaN          NaN        1
...               ...          ...          ...      ...
2016-06-15  Wednesday          NaN          NaN        0
2016-06-16   Thursday          NaN          NaN        0
2016-06-17     Friday          NaN          NaN        0
2016-06-18   Saturday          NaN          NaN        0
2016-06-19     Sunday     Sporting     Cultural        0

[1969 rows x 4 columns]

In [22]:
type1 = calendar.event_type_1.unique()[1:]
type2 = calendar.event_type_2.unique()[1:]
type1 = pd.get_dummies(calendar.event_type_1)
type2 = pd.get_dummies(calendar.event_type_2)
type1.Cultural += type2.Cultural
type1.Religious += type2.Religious

w_day = pd.get_dummies(calendar.weekday)

calendar = calendar.drop(['event_type_1', 'event_type_2','weekday'], axis=1)

In [29]:
calendar = pd.concat([calendar,w_day,type1],axis=1)

In [30]:
calendar

,snap_CA,Friday,Monday,Saturday,Sunday,Thursday,Tuesday,Wednesday,Cultural,National,Religious,Sporting
date,,,,,,,,,,,,
2011-01-29,0,0,0,1,0,0,0,0,0,0,0,0
2011-01-30,0,0,0,0,1,0,0,0,0,0,0,0
2011-01-31,0,0,1,0,0,0,0,0,0,0,0,0
2011-02-01,1,0,0,0,0,0,1,0,0,0,0,0
2011-02-02,1,0,0,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2016-06-15,0,0,0,0,0,0,0,1,0,0,0,0
2016-06-16,0,0,0,0,0,1,0,0,0,0,0,0
2016-06-17,0,1,0,0,0,0,0,0,0,0,0,0
2016-06-18,0,0,0,1,0,0,0,0,0,0,0,0
2016-06-19,0,0,0,0,1,0,0,0,1,0,0,1